@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient(to right, white, gray);
    }
</style>

<div class="text-center">
    <h1 id="letra" class="display-4">EXAMEN PARCIAL II</h1>
</div>

<style>
    #letra{
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        color: #fff;
        border-radius: 10px;
        font-weight: 600;
        color: black;
    }
</style>
